.article-1 {
    .article-1__bg-logo {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 780px;
        background-image: url(../images/bg-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .article-1__logo-title, .article-1__logo-text {
            display: inline;
            margin: 0;
            padding: 0;
            color: #FFFFFF;
            text-align: center;
        }
        .article-1__logo-title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 150px;

            @media (min-width: 500px) and (max-width: 768px) {
                margin-bottom: 160px;
                font-size: 32px;
            }

            @media (max-width: 500px) {
                font-size: 24px;
            }
        }
        .article-1__logo-text {
            font-size: 24px;
            width: 770px;
            color: #FFFFFF;
            position: absolute;
            opacity: 0.8;
            @media (min-width: 500px) and (max-width: 768px) {
                font-size: 20px;
                width: 529px;
                height: 74px;
            }

            @media (max-width: 500px) {
                line-height: 28px;
                width: 345px;
                font-size: 16px;
            }
        }
        @import 'media';
    }
    .article-1__paragraph {
        padding: 70px 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #F2F3F7;
        background-position: center;

        @media (min-width: 768px) and (max-width: 980px) {
            padding: 50px 177px;
            height: 390px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            padding: 40px 90px;
        }

        @media (max-width: 500px) {
            padding: 53px 37px;
        }
    } 
    .article-1__title {
        padding-bottom: 30px;
        width: 961px;
        font-weight: bold;
        font-size: 50px;
        color: #3B424A;

        @media (min-width: 768px) and (max-width: 980px) {
            padding-bottom: 32px;
            width: 627px;
            font-size: 36px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            padding-bottom: 18px;
            width: 610px;
            font-size: 36px;
        }

        @media (max-width: 500px) {
            padding-bottom: 15px;
            width: 320px;
            font-size: 24px;
        }
    }
    .article-1__text {
        width: 961px;
        font-size: 24px;
        line-height: 36px;
        color: #3B424A;

        @media (min-width: 768px) and (max-width: 980px) {
            font-size: 20px;
            width: 627px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            width: 610px;
            font-size: 20px;
        }

        @media (max-width: 500px) {
            line-height: 26px;
            font-size: 14px;
            line-height: 26px;
            width: 320px
        }
    }
    .article-1__statistic {
        height: 277px;
        background: #4D636F;

        @media (min-width: 768px) and (max-width: 980px) {
            height: 234px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            height: 343px;
        }

        @media (max-width: 500px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 506px;
        }
    }
    .article-1__stat-list {
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
        padding-top: 84px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        grid-template-areas: "seven-plus five-plus dolor three-plus";
        list-style-type: none;

        @media (min-width: 768px) and (max-width: 980px) {
            padding-top: 73px;
            font-size: 36px;
            line-height: 45px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            padding: 50px;
            grid-template-columns: repeat(2, auto);
            grid-template-areas: "seven-plus five-plus" 
                                "dolor three-plus";
            font-size: 36px;
            line-height: 45px;
            grid-gap: 40px 140px;
        }

        @media (max-width: 500px) {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            grid-template-areas: "seven-plus" 
                                "five-plus" 
                                "dolor" 
                                "three-plus";
            font-size: 36px;
            grid-row-gap: 30px;
        }
    }
    .article-1__stat-numb-1, .article-1__stat-numb-2, 
    .article-1__stat-numb-3, .article-1__stat-numb-4 {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 50px;

        @media (min-width: 768px) and (max-width: 980px) {
            font-size: 34px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            font-weight: 900;
            font-size: 34px;
        }

        @media (max-width: 500px) {
            font-size: 30px;
        }
    }
    .article-1__stat-text-1, .article-1__stat-text-2, 
    .article-1__stat-text-3, .article-1__stat-text-4 {
        margin-top: 18px;
        font-weight: 300;
        font-size: 24px;
        color: #FFFFFF;

        @media (min-width: 768px) and (max-width: 980px) {
            margin-top: 12px;
            font-size: 20px;
        }

        @media (min-width: 500px) and (max-width: 768px) {
            margin-top: 12px;
            font-size: 20px;
        }

        @media (max-width: 500px) {
            margin-top: 12px;
            font-size: 18px;
        }
    }
    .article-1__stat-numb-1 {
        grid-area: seven-plus; 
    }
    .article-1__stat-numb-2 {
        grid-area: five-plus;
    }
    .article-1__stat-numb-3 {
        grid-area: dolor;
    }
    .article-1__stat-numb-4 {
        grid-area: three-plus;
    }
}