%flex {
    padding-top: 80px;
    padding-bottom: 19px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    font-size: 24px;
}
%margin {
    margin-top: 24px;
    font-size: 24px;
}
%description {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    transition: all 0.3s linear;
    background: rgba(227, 27, 75, 0.6);
}
%pos-overflow {
    position: relative;
    overflow: hidden;
}
%hover {
    cursor: pointer;
    display: block;
    top: 0;
}
%circle {
    position: relative;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    background: #E75A7C;
    opacity: 0.2;
}
.article-1 {
    .article-1__bg-logo {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
        background-image: url(../images/bg-logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .article-1__logo-title, .article-1__logo-text {
            display: inline;
            margin: 0;
            padding: 0;
            color: #FFFFFF;
            text-align: center;
        }
        .article-1__logo-title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 150px;
        }
        .article-1__logo-text {
            font-size: 24px;
            width: 770px;
            color: #FFFFFF;
            position: absolute;
            opacity: 0.8;
        }
        @import 'media';
    }
    .article-1__paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 358px;
        background: #F2F3F7;
        background-position: center;
    } 
    .article-1__title {
        margin-top: 60px;
        margin-bottom: 29px;
        width: 961px;
        font-weight: bold;
        font-size: 50px;
        color: #3B424A;
    }
    .article-1__text {
        margin-bottom: 70px;
        width: 961px;
        font-size: 24px;
        line-height: 36px;
        color: #3B424A;
    }
    .article-1__statistic {
        height: 277px;
        background: #4D636F;
    }
    .article-1__stat-list {
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
        padding-top: 84px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        grid-template-areas: "seven-plus five-plus dolor three-plus";
        list-style-type: none;
    
    }
    .article-1__stat-numb-1, .article-1__stat-numb-2, 
    .article-1__stat-numb-3, .article-1__stat-numb-4 {
        color: #FFFFFF;
        font-weight: 900;
        font-size: 50px;
    }
    .article-1__stat-text-1, .article-1__stat-text-2, 
    .article-1__stat-text-3, .article-1__stat-text-4 {
        margin-top: 18px;
        font-weight: normal;
        font-size: 24px;
        color: #FFFFFF;
    }
    .article-1__stat-numb-1 {
        grid-area: seven-plus; 
    }
    .article-1__stat-numb-2 {
        grid-area: five-plus;
    }
    .article-1__stat-numb-3 {
        grid-area: dolor;
    }
    .article-1__stat-numb-4 {
        grid-area: three-plus;
    }
    // .article-1__statistic {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     height: 277px;
    //     background: #4D636F;
    // }
    // .article-1__stat-list {
    //     margin-bottom: 18px;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    //     align-items: center;
    //     list-style-type: none;
    //     color: #FFFFFF;
    //     font-weight: 900;
    //     font-size: 50px;
    //     text-align: center;
    //     .article-1__stat-numb {
    //         color: #FFFFFF;
    //     }
    //     .article-1__stat-text {
    //         margin-top: 18px;
    //         font-weight: normal;
    //         list-style-type: none;
    //         font-size: 24px;
    //         color: #FFFFFF;
    //     } 
    //     @import 'media';
    // }
    @import 'media';
}
.article-2 {
    .article-2__approach-grid {
        margin-bottom: 126px;
        margin-left: 240px;
        margin-right: 240px;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
        grid-template-columns: repeat(2, 460px);
        grid-template-rows: 190px repeat(5, 220px);
        grid-template-areas: "title ."
                             "change icon-1"
                             "icon-2 maintaining"
                             "expertise icon-3"
                             "icon-4 pragmatic"
                             "corporate icon-5";
        grid-gap: 40px;
        .article-2__title{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 18px;
        }
        .article-2__text {
            font-size: 24px;
        }
    }
    .article-2__title-grid { 
        margin-bottom: 7px;
        display: flex;
        align-self: end;
        justify-self: flex-start;
        font-weight: bold;
        font-size: 50px;
        grid-area: title;
    }
    .article-2__change-grid {    
        grid-area: change;
    }
    .article-2__icon-1-grid {
        grid-area: icon-1; 
        .article-2__circle {
            @extend %circle;
        }
        .article-2__img-svg-1 {
            position: absolute;
            margin-left: -31px;
            margin-top: -108px;
        }
        @import 'media';
    }
    .article-2__icon-2-grid {
        grid-area: icon-2;
        .article-2__circle {
            @extend %circle;
        }
        .article-2__img-svg-2 {
            position: absolute;
            margin-left: 88px;
            margin-top: -104px;
        }
        @import 'media';
    }
    .article-2__maintaining-grid {
        grid-area: maintaining;
    }
    .article-2__expertise-grid {
        grid-area: expertise;
    }
    .article-2__icon-3-grid {
        grid-area: icon-3;
        .article-2__circle {
            @extend %circle;
        }
        .article-2__img-svg-3 {
            position: absolute;
            margin-left: -31px;
            margin-top: -108px;
        }
        @import 'media';
    }
    .article-2__icon-4-grid {
        grid-area: icon-4;
        .article-2__circle {
            @extend %circle;
        }
        .article-2__img-svg-4 {
            position: absolute;
            margin-left: 88px;
            margin-top: -104px;
        }
        @import 'media';
    }
    .article-2__pragmatic-grid {
        grid-area: pragmatic;
    }
    .article-2__corporate-grid {
        grid-area: corporate;
    }
    .article-2__icon-5-grid {
        grid-area: icon-5;
        .article-2__circle {
            @extend %circle;
        }
        .article-2__img-svg-5 {
            position: absolute;
            margin-left: -31px;
            margin-top: -108px;
        }
        @import 'media';
    }
    .article-2__feedback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #4D636F;
        height: 412px;
    }
    .article-2__title-feedback {
        margin-bottom: 34px;
        font-weight: bold;
        font-size: 50px;
        color: #FFFFFF;
    }
    .article-2__text-feedback {
        width: 761px;
        font-size: 24px;
        color: #FFFFFF;
        text-align: center;
    }
    .article-2__button-feedback {
        margin-top: 42px;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        width: 260px;
        height: 55px;
        background: #E75A7C;
        border-radius: 6px;
        color: #FFFFFF;
        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 
                            0px 1px 7px rgba(0, 0, 0, 0.12), 
                            0px 3px 1px rgba(0, 0, 0, 0.2);
        }
        &:focus {
            background: #E75A7C;
            border: 2px dashed #FFBDCD;
            border-radius: 6px;
            
        }
        &:active {
            background: #E31B4B;
            border: none;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 
                            0px 1px 7px rgba(0, 0, 0, 0.12), 
                            0px 3px 1px rgba(0, 0, 0, 0.2);
        }
        @import "media";
    }
    @import 'media';
}
.article-3 {
    .article-3__technolologies-grid {
        padding: 102px 140px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, min-max(350px, 360px));
        grid-template-rows: auto;
        grid-template-areas: "title title title"
                             "soft auto cloud"
                             "top-line top-line top-line"
                             "soft-text auto-text cloud-text"
                             "devops agile digital"
                             "bottom-line bottom-line bottom-line"
                             "devops-text agile-text digital-text";
        grid-column-gap: 40px;
    }
    .article-3__tech-title {
        grid-area: title;
        font-weight: bold;
        font-size: 50px;
        color: #2C2F3C;
    }
    .article-3__software {
        @extend %flex;
        grid-area: soft;
    }
    .article-3__auto {
        @extend %flex;
        grid-area: auto;
    }
    .article-3__cloud {
        @extend %flex;
        grid-area: cloud;
    }
    .article-3__top-line {
        height: 3px;
        grid-area: top-line;
        background: #E75A7C;
        border-radius: 3px;
    }
    .article-3__soft-text {
        @extend %margin;
        grid-area: soft-text;
    }
    .article-3__auto-text {
        @extend %margin;
        grid-area: auto-text;
    }
    .article-3__cloud-text {
        @extend %margin;
        grid-area: cloud-text;
    }
    .article-3__devops {
        @extend %flex;
        grid-area: devops;
    }
    .article-3__agile {
        @extend %flex;
        grid-area: agile;
    }
    .article-3__digital {
        @extend %flex;
        grid-area: digital;
    }
    .article-3__bottom-line {
        height: 3px;
        grid-area: bottom-line;
        background: #E75A7C;
        border-radius: 3px;
    }
    .article-3__devops-text {
        @extend %margin;
        grid-area: devops-text;
        .article-3__second-text-devops {
            margin-top: 30px;
        }
    }
    .article-3__agile-text {
        @extend %margin;
        grid-area: agile-text;
    }
    .article-3__digital-text {
        @extend %margin;
        grid-area: digital-text;
    }
    .article-3__images-grid {
        padding: 115px 140px;
        background: #F2F3F7;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, min-max (285px, 360px));
        grid-template-rows: auto;
        grid-template-areas: "projects . ."
                             "icon-1 icon-2 icon-3"
                             "icon-4 icon-5 icon-6";
        grid-gap: 40px;
    }
    .article-3__title-projects {
        margin-bottom: 59px;
        display: flex;
        align-items: flex-end;
        font-weight: bold;
        font-size: 50px;
        grid-area: projects;
    }
    .article-3__icon-1 {
        grid-area: icon-1;
        @extend %pos-overflow;
        &:hover .article-3__descr-1 {
            @extend %hover;
        }
    }
    .article-3__icon-2 {
        grid-area: icon-2;
        @extend %pos-overflow;
        &:hover .article-3__descr-2 {
            @extend %hover;
        }
    }
    .article-3__icon-3 {
        grid-area: icon-3;
        @extend %pos-overflow;
        &:hover .article-3__descr-3 {
            @extend %hover;
        }
    }
    .article-3__icon-4 {
        grid-area: icon-4;
        @extend %pos-overflow;
        @extend %pos-overflow;
        &:hover .article-3__descr-4 {
            @extend %hover;
        }
    }
    .article-3__icon-5 {
        grid-area: icon-5;
        @extend %pos-overflow;
        @extend %pos-overflow;
        &:hover .article-3__descr-5 {
            @extend %hover;
        }
    }
    .article-3__icon-6 {
        grid-area: icon-6;
        @extend %pos-overflow;
        @extend %pos-overflow;
        &:hover .article-3__descr-6 {
            @extend %hover;
        }
    }
    .article-3__descr-1, .article-3__descr-2, 
    .article-3__descr-3, .article-3__descr-4, 
    .article-3__descr-5, .article-3__descr-6 {
        @extend %description;
    }
    .article-3__descr-title {
        padding: 360px 24px 4px;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .article-3__descr-text {
        color: #FFFFFF;
        font-size: 16px;
        margin: 4px 24px 0;
    }
    @import 'media';
}
